main > div {
  padding: var(--desctop-padding-top-and-bottom)
    var(--desctop-padding-left-and-right);
}

.story-section {
  background-color: rgba(30, 44, 48, 1);
}

.story-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-title {
  color: var(--white);
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.55px;
  padding: 8px 0 30px 0;
}

.story-subtitle {
  color: var(--white);
}

.services-section-content {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.services-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section-title-sub {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  color: var(--grey-green-dark);
}

.services-section-main_title {
  width: 660px;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}

.services-section-price {
  width: 1200px;
  display: flex;
}

.services-section-price-content {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.services-section-content-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--font-color-dark-grey);
}

.services-section-content-description {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  letter-spacing: 0.36px;
  columns: var(--font-color-light-grey);
  border-bottom: 1px solid rgba(155, 183, 191, 0.5);
  padding-bottom: 20px;
}

.services-section-price-content-box {
  width: 530px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.background-square {
  height: 180px;
  width: 180px;
  position: absolute;
  z-index: -1;
  background-color: rgba(132, 168, 178, 1);
  margin-left: 555px;
  margin-top: 710px;
}

.services-section-img {
  position: relative;
}

.services-section-price-content2 {
  padding-left: 40px;
  position: relative;
  bottom: 70px;
  padding-top: 100px;
}

.services-section-price-content1 {
  padding-left: 30px;
}

.services-section-img2 {
  position: relative;
  bottom: 80px;
  padding-left: 30px;
}

.services-section-price3 {
  position: relative;
  bottom: 160px;
  left: 1px;
}

.services-section-price4 {
  position: relative;
  bottom: 140px;
  left: 41px;
}

.services-section-price5 {
  position: relative;
  bottom: 240px;
  left: 1px;
}

.background-square {
  height: 180px;
  width: 180px;
  position: absolute;
  z-index: -1;
  background-color: rgba(30, 44, 48, 1);
  margin-left: 555px;
  margin-top: 710px;
}

.background-square2 {
  height: 180px;
  width: 180px;
  position: absolute;
  z-index: -1;
  background-color: rgba(30, 44, 48, 1);
  margin-left: 555px;
  margin-top: 1990px;
}

.background-square3 {
  height: 90px;
  width: 180px;
  position: absolute;
  z-index: -1;
  background-color: rgba(30, 44, 48, 1);
  margin-left: 555px;
  margin-top: 3270px;
}

.flat-discount-services {
  background-color: var(--light-blue-background);
  /* padding: 0 0; */
  display: flex;
  gap: 110px;
}

.flat-discount-services { 
  display: flex;  
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flat-discount-services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 660px;
  text-align: center;
  /* gap: 15px; */
  /* padding: 85px 0; */
  /* width: 540px; */
}

.flat-discount-services-content-subtitle {
  color: var(--grey-green-dark);
}

.flat-discount-services-h2 {
  color: var(--font-color-dark-grey);
  font-family: 'Playfair Display', sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}

.flat-discount-services-description {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  color: var(--font-color-light-grey);
  padding-top: 14px;
}

.flat-discount-services-content-contact {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  border: 1px solid rgba(149, 191, 203, 1);
  background-color: var(--white);
  /* width: 300px; */
  padding: 20px 40px 20px 40px;
}

.flat-discount-services-sale-icon {
  background-color: rgba(30, 44, 48, 1);
  height: 120px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21px;
  color: var(--white);
  gap: 5px;
}

.flat-discount-services-content-flex {
  display: flex;
}
.flat-discount-services-content-contact2 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.flat-discount-services-flex {
  display: flex;
}

.flat-discount-services-content-sale {
  display: flex;
  padding-top: 40px;
}

.flat-discount-contact-box {
  text-align: start;
}