main > div {
  padding: var(--desctop-padding-top-and-bottom)
    var(--desctop-padding-left-and-right);
}

.story-section {
  background-color: rgba(30, 44, 48, 1);
}

.story-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-title {
  color: var(--white);
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.55px;
  padding: 8px 0 30px 0;
}

.story-subtitle {
  color: var(--white);
}

.expert-manager {
  display: flex;
  gap: 120px;
}

.expert-manager-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}

.expert-manager-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.manager-description {
  color: var(--font-color-dark-grey);
  font-family: 'Manrope' , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.expert-manager-contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expert-manager-contact-button {
  display: flex;
  align-items: center;
  gap: 33px;
}

.contact-button {
  color: var(--font-color-dark-grey);
  font-family: 'Playfair Display' , sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.22px;
}

.contact-button:hover {
  color: var(--grey-green-dark);
  transition: color 0.2s linear;
}

.btn-filled {
  width: 250px;
}

.member-links {
  display: flex;
  gap: 30px;
}