main > div {
  padding: var(--desctop-padding-top-and-bottom)
    var(--desctop-padding-left-and-right);
}

.story-section {
  background-color: rgba(30, 44, 48, 1);
}

.story-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.story-title {
  color: var(--white);
  text-align: center;
  font-family: 'Playfair Display' , sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.55px;
  padding: 8px 0 30px 0;
}

.story-subtitle {
  color: var(--white);
}

.descriprion-h3 {
  color: var(--font-color-dark-grey);
  font-family: 'Playfair Display' , sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.box-description-text {
  color: var(--font-color-light-grey);
  font-family: 'Manrope' , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

.values-section-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-section-description-box {
  display: flex;
  gap: 30px;
  width: 590px;
  border-bottom: 1px solid rgba(211, 211, 211, 1);
  padding: 40px 0 40px 0;
}

.about-us-section {
  background-color: var(--light-blue-background);
  /* display: flex; */
}

.about-us-container {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.about-us-section-content {
  background-color: rgba(30, 44, 48, 1);
  width: 1200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 70px 70px;
}

.about-img {
  position: relative;
}

.subtitle-about-us {
  color: var(--white);
}

.about-us_h3 {
  color: var(--white);
  font-family: 'Playfair Display' , sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}

.about-us-description {
  color: var(--white);
  font-family: 'Manrope' , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

.meet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meet-content{
  display: flex;
  gap: 45px;
}

.meet-title {
  text-align: center;
  padding-bottom: 40px;
  width: 660px;
}

.title_h2_meet {
  font-size: 24px;
  padding-top: 23px;
}

.meet-content-description {
  color: var(--font-color-light-grey);
  text-align: center;
  font-family: 'Manrope' , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;  
}

.meet-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; ;
}

.meet-content-links {
  padding-top: 15px;
}

.testimonials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 150px 360px; */
  background-color: var(--light-blue-background);
}

.testimonials-section-content-reviews {
  display: flex;
  width: 1200px;
  align-items: center;
  gap: 36px;
}

.testimonials-section-content-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-bottom: 40px;
}

.testimonials-section-content-subtitle {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  color: var(--grey-green-dark);
}

.testimonials-section-content-title {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
  color: var(--font-color-dark-grey);
}

.testimonials-section-content-reviews_person1 {
  background-color: rgba(30, 44, 48, 1);
  height: 130px;
  display: flex;
  align-items: center;
  padding: 26px 51px;
}

.testimonials-section-content-reviews_content1 {
  font-family: 'Manrope', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  background-color: var(--white);
  padding: 44px 44px;
}

.testimonials-icon1 {
  justify-self: end;
  padding-left: 170px;
}

.person1_review {
  flex-shrink: 0;
  padding-left: 20px;
}

.testimonials-section-content-reviews_person2 {
  background-color: rgba(30, 44, 48, 1);
  height: 130px;
  display: flex;
  align-items: center;
  padding: 26px 51px;
}

.testimonials-section-content-reviews_content2 {
  font-family: 'Manrope', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  background-color: var(--white);
  padding: 44px 44px;
}

.testimonials-icon2 {
  justify-self: end;
  padding-left: 200px;
}

.person2_review {
  flex-shrink: 0;
  padding-left: 20px;
}

.h3review {
  color: var(--white);
  font-size: 22px;
}

.country_review {
  color: var(--white);
}

.share-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
}

.share-section-content {
  display: flex;
  gap: 50px;
}

.title_share {
  width: 260px;
  text-align: start;
  padding-bottom: 15px;
}

.share-section-content_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.share-section-content_left-img {
  padding-top: 40px;
}

.share-section-content_left-description {
  color: var(--font-color-light-grey);
  font-family: 'Manrope' , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

.share-section-content_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 50px;
}