body {
  font-family: 'Manrope', sans-serif;
}

:root {
  --grey-green-light: rgba(122, 156, 165, 1);
  --dark-grey: rgba(17, 30, 34, 1);
  --white: rgba(255, 255, 255, 1);
  
  --grey-green-dark: rgba(92, 134, 146, 1);
  --font-color-dark-grey: rgba(20, 20, 20, 1);
  --font-color-light-grey: rgba(85, 85, 85, 1);

  --light-blue-background: rgba(235, 243, 245, 1);


  --desctop-padding-top-and-bottom: 150px;
  --desctop-padding-left-and-right: 360px;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: var(--font-color-dark-grey);
  letter-spacing: -1%;
  font-size: 70px;
  line-height: 80px;
}

h2, h3 {
  font-size: 45px;
  /* line-height: ; */
}

.subtitle {
  color: var(--grey-green-dark);
  text-align: center;
  font-family: 'Manrope' , sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
}

.title_h2 {
  color: var(--font-color-dark-grey);
  text-align: center;
  font-family: 'Playfair Display' , sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}

.header-menu-item-pages {
  cursor: pointer;
}

.btn {
  padding: 24px 36px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #5C8692;
  /* display: flex;
  align-items: center;
  gap: 5px; */
}

.btn-filled {
  color: var(--white);
  background-color: var(--grey-green-dark);
}

.btn-filled img {
  width: 14px;
  height: 14px;
}

.btn-filled:hover {
  background-color: transparent;
  color: var(--font-color-dark-grey);
  transition: background-color 0.2s linear, color 0.2s linear;
}

.btn-empty {
  color: var(--font-color-dark-grey);
}

.btn-empty:hover {
  color: var(--white);
  background-color: var(--grey-green-dark);
  transition: background-color 0.2s linear, color 0.2s linear;
}


.btn-reservation {
  color: var(--white);
  background-color: var(--grey-green-dark);
  display: flex;
  justify-content: center;
  gap: 10px;
  letter-spacing: 1px;
  padding: 17px 28px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}



.header-logo-wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 600;
}

.header-menu {
  display: flex;
  gap: 40px;
  font-family: 'Manrope', sans-serif;
  font-size: 17px;
  font-weight: 600; 

}

 
.header-menu li:hover {
  color: var(--grey-green-dark);
  transition: color 0.2s linear;
}  

.header-menu-item-pages {
  display: flex;
  align-items: center;
}

.header-menu-icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.call-us {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}

footer {
  background-color: rgba(30, 44, 48, 1);
  height: 560px;
  padding: 66px 360px 0px 360px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.footer-buttons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-button {
  border: 3px solid var(--grey-green-dark);
  width: 55px;
  height: 55px;
  text-align: center;
}

.footer-line {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.footer-info-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-h3 {
  color: var(--white);
  font-family: 'Playfair Display' , sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.footer-text {
  color: var(--white);
  font-family: 'Manrope' , sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: -0.17px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-text_hover a:hover {
  color: var(--grey-green-dark);
  transition: color 0.2s linear;
}

.keep_in_touch_footer {
  display: flex;
  /* gap: 30px; */
  color: var(--white);
  /* justify-content: space-between; */
}
  
.contact-footer:hover {
  color: var(--grey-green-dark);
  transition: color 0.2s linear;
}

.keep_in_touch_footer-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.keep_in_touch_footer1 {
  gap: 15px;
}

.keep_in_touch_footer2 {
  gap: 45px;
}

.keep_in_touch_footer3 {
  gap: 27px;
}

.footer-bottom {
  text-align: center;
  background-color: var(--dark-grey);
  /* height: 80px; */
  padding: 35px 0;
  
}